body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  header {
    background: linear-gradient(45deg, #FF9D6C, #F76D5E, #D73845, #8E2248);
    color: #fff;
    padding: 20px;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .course-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }
  
  .course-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-bottom: 20px;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .course-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
  }
  
  .course-title {
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 10px;
    color: #333;
  }
  
  .course-real-price {
    text-decoration: line-through;
    color: #999;
    margin-bottom: 5px;
  }
  
  .course-price {
    font-size: 1.1em;
    margin-bottom: 20px;
    color: #666;
  }
  
  .course-buy-btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .course-buy-btn:hover {
    background-color: #45a049;
  }
  
  /* CSS */
#searchInput {
    width: 300px; /* Adjust width as needed */
    padding: 10px;
    font-size: 16px; /* Adjust font size as needed */
  }
  
  #categorySelect {
    width: 200px; /* Adjust width as needed */
    padding: 10px;
    font-size: 16px; /* Adjust font size as needed */
  }
  